body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF0042;
}

.container{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 4px;
    transform-style: preserve-3d;
}

.container:hover .cuadrado{
    /* transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg); */
    transform: rotate3d(1,1,1, 45deg);
    /* transform: rotateY(-90deg) skewY(10deg); */
    box-shadow: rgba(36, 37, 38, 0.09) 0px 6px 24px 0px;
}

.cuadrado{
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(36, 37, 38, 0.08) 0px 6px 15px 0px;
    transition: 0.3s;
}